body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #F0F0F0; } }

table.body {
  background: #F0F0F0;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 0; }
  th.columns .columns.first {
    padding-left: 0 !important; }
  th.columns .columns.last {
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 16px; }

th.columns table {
  width: 100%; }

th.large-1 {
  width: 40.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-1.first {
  padding-left: 16px; }

th.large-1.last {
  padding-right: 16px; }

.collapse > tbody > tr > th.large-1 {
  padding-right: 0;
  padding-left: 0;
  width: 56.66667px; }

.collapse th.large-1.first {
  width: 64.66667px; }

.body .columns th.large-1 {
  width: 8.33333%; }

th.large-2 {
  width: 97.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-2.last {
  padding-right: 16px; }

th.large-4 {
  width: 210.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-4.first {
  padding-left: 16px; }

th.large-4.last {
  padding-right: 16px; }

.collapse > tbody > tr > th.large-4 {
  padding-right: 0;
  padding-left: 0;
  width: 226.66667px; }

.collapse th.large-4.first,
.collapse th.large-4.last {
  width: 234.66667px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-6 {
  width: 324px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-6.first {
  padding-left: 16px; }

th.large-6.last {
  padding-right: 16px; }

th.large-7 {
  width: 380.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-7.first {
  padding-left: 16px; }

.collapse > tbody > tr > th.large-7 {
  padding-right: 0;
  padding-left: 0;
  width: 396.66667px; }

.body .columns th.large-7 {
  width: 58.33333%; }

th.large-10 {
  width: 550.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-10.first {
  padding-left: 16px; }

th.large-12 {
  width: 664px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-12.first {
  padding-left: 16px; }

th.large-12.last {
  padding-right: 16px; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

h2.text-center {
  text-align: center; }

@media only screen and (max-width: 696px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; } }

img.float-right {
  float: right;
  text-align: right; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

@media only screen and (max-width: 696px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h2,
p,
td,
th {
  color: #0a0a0a;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2 {
  color: inherit;
  word-wrap: normal;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #006EAA;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #004d77; }
  a:active {
    color: #004d77; }
  a:visited {
    color: #006EAA; }

h1 a,
h1 a:visited {
  color: #006EAA; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #F0F0F0;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 696px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  table.body .collapse .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  th.small-2 {
    display: inline-block !important;
    width: 16.66667% !important; }
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-10 {
    display: inline-block !important;
    width: 83.33333% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

body,
html,
.body {
  background: #f3f3f3 !important; }

.header {
  background: #8a8a8a; }

.header .columns {
  padding-bottom: 0; }

/* Pulso Newsletter Custom Styles */
.header {
  background-color: #fff; }
  .header .inner-header {
    padding-top: 40px;
    padding-bottom: 0; }
    .header .inner-header img {
      margin-left: 30px; }

.titulo-destacado {
  padding-top: 28px;
  padding-bottom: 28px; }
  .titulo-destacado h1 {
    padding: 0 22px;
    hyphens: none; }
    .titulo-destacado h1 a {
      color: #1A72AA;
      font-size: 36px;
      padding: 0 32px;
      display: block; }

.img-destacado {
  padding-left: 0;
  padding-right: 0; }
  .img-destacado img {
    width: 100%; }

.bajada {
  padding: 42px 64px;
  padding-top: 0; }
  .bajada p {
    margin: 30px 28px;
    hyphens: none; }
    .bajada p a {
      color: #666;
      font-size: 20px; }
    .bajada p a.vermas {
      color: #F2994A;
      font-size: 16px;
      padding: 0;
      font-weight: 900;
      text-transform: none; }

.vermas.gris {
  color: #666; }

.title-eventos {
  background-color: #FFF; }
  .title-eventos h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;
    font-size: 22px;
    color: #F2994A;
    font-weight: 900; }

.vermas {
  text-decoration: underline;
  font-size: 12px;
  display: inline-block;
  padding: 25px;
  padding-top: 0;
  font-weight: 900;
  color: #FFF; }

.img-bitacora {
  margin-left: 40px; }

.header-titulo small {
  margin-left: 30px;
  font-weight: 900;
  color: #F2994A;
  font-size: 20px; }

.header-titulo h2 {
  margin-left: 30px;
  color: #F2994A;
  text-transform: uppercase;
  font-size: 24px; }
  .header-titulo h2 strong {
    font-weight: 900; }

.icono-redes {
  display: inline-block;
  margin-right: 0.5rem;
  width: 30px; }

.caja-noticia img {
  max-width: none;
  width: 100%; }

.caja-noticia p {
  font-size: 16px;
  height: auto; }
  .caja-noticia p a {
    color: #052A42;
    hyphens: none;
    padding: 16px 32px;
    display: block; }

.caja-noticia.first {
  padding: 0 !important; }

.caja-noticia.last {
  padding: 0 !important; }

.foto img {
  max-width: none;
  width: 100%; }

.foto.first {
  padding: 0 !important; }

.foto.last {
  padding: 0 !important; }

.caja-noticia:nth-child(1) {
  background-color: #F2994A; }
  .caja-noticia:nth-child(1) p a {
    color: #FFF; }

.caja-noticia:nth-child(2) {
  background-color: #F2C94C; }

.caja-noticia:nth-child(3) {
  background-color: #F2994A; }
  .caja-noticia:nth-child(3) p a {
    color: #FFF; }

/* Footer */
.footer {
  background-color: #006EAA; }
  .footer.first.last {
    padding: 34px 49px !important; }
  .footer img {
    max-width: 240px; }
  .footer .acredita {
    max-width: 178px;
    float: right; }

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px; }

.direcciones {
  color: #FFF;
  font-size: 10px; }
  .direcciones a {
    color: #FFF;
    text-decoration: underline;
    display: block; }
  .direcciones strong {
    display: block;
    font-size: 12px; }

.redes-sociales img {
  float: right; }

@media only screen and (max-width: 696px) {
  .titulo-destacado h1 a {
    padding: 0;
    font-size: 28px; }
  table.body img {
    width: 100%; }
  table.body img.icono-redes {
    width: 30px;
    margin-right: 1rem; }
  .img-bitacora {
    max-width: 40px !important;
    margin-left: 36px; }
  .link-redes {
    display: inline-block; }
  .caja-noticia p {
    padding: 0 !important;
    padding-top: 16px !important;
    height: auto !important; }
  .caja-noticia a {
    height: auto;
    padding-bottom: 0; }
  .caja-noticia img {
    width: 100% !important; }
  .cont-30 img {
    display: none; }
  .header .inner-header img {
    margin-left: 0; }
  .footer .acredita {
    float: none; }
  .direcciones {
    margin-left: 20px; }
  .icon-img {
    max-width: 100%;
    width: auto !important; }
  .header-titulo {
    margin-top: 2rem; }
    .header-titulo h2 {
      font-size: 18px; }
  .vermas {
    margin-bottom: 1.5rem;
    padding-left: 32px; }
  .foto {
    padding-left: 0 !important; }
  table.body .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .inner-header img {
    margin: 0 auto !important; } }
